*{
    margin:0px;
    box-sizing: content-box;
}
body{
    text-align: center;
    background-image: url("background.png");
    color: brown;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}
.mainDiv{
    background-color: rgb(121, 59, 59);
    color: rgb(44, 22, 22);
    width: 1000px;
    border-radius: 20px;
    border: 10px solid rgb(82, 49, 49);
}
.logoDiv{
    text-align: center;
}
#imagens{
    border-radius: 20px;
}
#presentLogo{
    width: 100px;
    margin-left: 10px;
}
#start{
    width: 200px;
    height: 90px;
    font-size: 30px;
    background-color: rgb(121, 59, 59);
    color: rgb(44, 22, 22);
    border-radius: 25px;
    border: 10px solid rgb(82, 49, 49);
}